:root
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 4em;
}
.container
{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap:10em;
margin:0px;
    /* flex-shrink:1;
    flex-grow: 1;
    flex-basis: 0; */
    justify-content:  center;
    justify-items: center;
    align-items: center;
    /* padding: 0% 1em; */
    align-content: center;
    /* margin:10rem 0;
    font-size: 1rem; */
    /* min-width:100%; */
}
.container5
{
    flex-direction: row;
   align-items:center;
   margin-bottom: 0px;
}
/* .container5>.a
{
    padding:0 4em;
} */
.a
{
    font-size: 2rem;
    padding:2rem 0;
    text-decoration: none;
    color:white;
}
.container1>h1
{
    padding: 0 ;
    /* margin: 0 auto; */
    /* background-color: rgb(241, 158, 210); */
}
.container1{
display:flex;
flex-direction:column;
    justify-content:  center;
    align-items: center;
    margin-top: 0;
    width: 100%;
    max-width: 100%;
    min-height: 10rem;
    background-color: rgb(241, 158, 210);
}
img
{
    width: 10%;
    min-width: 5em;
    height: auto;
    border-radius: 50%;
    padding: 2em 0;
}


.container2
{
    display:flex;
    flex-direction:column;
    justify-content:  center;
    align-items: center;
    width:100%;
     max-width: 100%;
    min-height: 10rem;
/* background-color:rgb(247, 249, 242);
background-color:rgb(232, 197, 229); */
background-color:rgb(241, 158, 210);
 

}
.container3
{
    
display:flex;
flex-direction:column;
    justify-content:  center;
    align-items: center;
    width:100%;
    max-width: 100%;
    min-height: 10rem;
/* background-color: rgb(241, 158, 210); */
background-color:rgb(232, 197, 229);
 

}
.container4
{display:flex;
    flex-direction:column;
    justify-content:  center;
    align-items: center;
    width:100%;
    max-width: 100%;
    min-height: 10rem;
    
    background-color:rgb(241, 158, 210);
/* flex-direction:column; */
/* height: 175px; */

}
.container5
{
    display: flex;
    flex-direction:row;
    gap:25rem;
    width: 100%;
    background-color:rgb(241, 158, 210);
    max-width: 100%;
    min-height: 10rem;
    margin-bottom: 0%;
align-items: center;
    justify-content: center;
}
button
{
    
    background-color:rgb(232, 197, 229) ;
    border: 2px solid black;
    border-radius: 5%;
    /* font-size: 5em; */
}
p
{
    /* color:white; */
}
.gethub
{
    font-size: 1rem;
    /* padding:2rem 0; */
    text-decoration: none;
    color:rgb(135, 6, 135);
    
}
a:hover
{
    color:white;
}
button>.a
{
    font-size: 4rem;
}
@media (max-width:68em)
{
    :root {
         font-size: 2em;
    }
   .container5{
    flex-direction: column;
    gap:3em;
   }
   /* button>.a
{
    font-size: 4rem;
} */
}